#link {
  color: rgba(255, 255, 255, 0.658);
  font-size: 3.5rem;
  transition: 300ms;
}

#link:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.89);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.container-four {
  height: auto;
  background-color: black;
}

.repos {
  width: 80%;
  margin: 0.8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: rgba(243, 243, 243, 0.062);
  transition: 300ms;
}

.repos:hover {
  background-color: rgba(219, 216, 216, 0.144);
  cursor: pointer;
}

.repos-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}
