* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.App-container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  color: rgb(255, 151, 166);
  font-size: 2.2rem;
  font-family: "Fugaz One", cursive;
  z-index: 3;
}

#vid {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
  position: absolute;
}
.nav {
  height: 3rem;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.nav > p {
  transition: all 0.4s;
  padding: 0 0.5rem;
}

.nav > p:hover,
p:active {
  cursor: pointer;

  transform: scale(1.05);
}

p {
  color: #e4e4e4;
  display: inline;
  font-family: "Carter One", cursive;
  text-transform: lowercase;
  font-size: 1.4rem;
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  color: rgb(255, 151, 166);
  font-size: 2.5rem;
  font-family: "Fugaz One", cursive;
  margin: 0;
}

span {
  color: rgb(255, 151, 166);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
}
#top {
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
  margin: 0;
}

.body {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

#txt {
  font-family: "Gochi Hand", cursive;
  margin: 0;
  color: rgb(153, 153, 153);
  font-size: 1.5rem;
  text-transform: uppercase;
}
#lan {
  margin: 0;
  font-size: 1.4rem;
}

hr {
  width: 10rem;
  animation: fade 3s ease-in;
}

.flex-div {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

.container-two {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  background: linear-gradient(
    135deg,
    #000000 44%,
    rgba(255, 151, 167, 0.822) 44%,
    rgb(255, 151, 166) 50%,
    #000000 40%
  );

  /* Start #5cbcb0 from 0 and end at 5%, Start #fff at 5% and end at 15%, Start #5cbcb0 again at 15% and end at 100% */

  background-repeat: no-repeat; /* To avoid multiple instances */
}

#playdog {
  height: 30rem;
  width: auto;
  user-select: none;
}

.col-2-pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  height: 70%;
  margin-top: 0.5rem;
}

.right-arr {
  color: rgb(231, 231, 231);
  font-size: 2.4rem;
  margin: 0 1rem;
  transition: 300ms;
}

.right-arr:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.arrow {
  display: flex;
  justify-content: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.container-three {
  height: 100vh;
  background-color: black;
  background: linear-gradient(
    135deg,
    #272727 44%,
    rgba(255, 151, 167, 0.801) 34%,
    rgb(255, 151, 167) 50%,
    #000000 40%
  );
}

#link {
  color: rgba(255, 255, 255, 0.658);
  font-size: 3.5rem;
  transition: 300ms;
}

#link:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.89);
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.container-four {
  height: 100vh;
  background-color: black;
}

.container-five {
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.container-six {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.container-sev {
  height: 100vh;

  background: linear-gradient(
    135deg,
    #000000 44%,
    rgb(158, 20, 20) 34%,
    rgba(158, 20, 20) 50%,
    #000000 40%
  );
}

.repos {
  width: 80%;
  margin: 0.8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 10px;
  background-color: rgba(243, 243, 243, 0.062);
  transition: 300ms;
}

.repos:hover {
  background-color: rgba(219, 216, 216, 0.144);
  cursor: pointer;
}

.repos-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.flex-par {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.flex-par > p {
  margin: 0;
}

.circle {
  border: 10px solid rgba(255, 0, 0, 0.521);
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  margin: auto;
  background-color: rgb(255, 151, 167);
  position: absolute;
  z-index: 0;
}

.flex-mega {
  height: 80vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

#me {
  height: 22rem;
  width: 15rem;
  object-fit: fill;
  border-radius: 50px;
}

.flx-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70vh;
  width: 50%;
  padding-top: 20vh;
  padding-left: 5vw;
}

.flx-txt-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 70vh;
  width: 50%;
  padding-bottom: 17vh;
  padding-right: 5vw;
}
.pink {
  color: rgb(255, 151, 167);
}

.flx-row {
  width: 100%;
  height: 80%;
  display: flex;
}

#pink-two {
  font-size: 1.6rem;
}

#top-bold {
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-size: 2rem;
  margin: 0;
}
#top-bold-two {
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-size: 2rem;
  margin: 0;
}

#top-shadow {
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
  margin: 0;
}

#top-shadow-two {
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-size: 1.5rem;
  margin: 0;
}

.more {
  padding-left: 3vw;
}

.more-two {
  padding-right: 3vw;
}

#cerf {
  height: 10rem;
  width: 10rem;
  object-fit: contain;
  border: 1px solid rgba(136, 136, 136, 0);
  padding: 0.5rem;
  border-radius: 25px;
  background-color: rgba(129, 129, 129, 0.137);
  transition: all 300ms;
  user-select: none;
  margin-bottom: 1rem;
}

#x {
  color: rgb(179, 179, 179);
  font-size: 1.5rem;
  transition: 300ms;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 1rem;
  z-index: 1000;
  animation: fade-in 500ms ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#x:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: rgb(230, 230, 230);
}

#cerf:hover {
  cursor: pointer;
  background-color: rgba(129, 129, 129, 0.247);
}

.cerf-row {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.expanded {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#expanded {
  width: 90vw;
  height: auto;
  object-fit: contain;
}

@media (min-width: 1000px) {
  #expanded {
    width: 60vw;
    height: auto;
  }
}

#about {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#about-two {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#about > p {
  font-family: "Fugaz One", cursive;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.2rem;
}
#about-two > p {
  color: rgb(255, 151, 167);
  font-family: "Fugaz One", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

#red {
  color: rgb(192, 16, 16);
}

.resume-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume {
  font-size: 2rem;
  color: rgb(255, 151, 167);
  transition: 300ms;
}

#resume:hover {
  transform: scale(1.1);
  color: rgb(250, 170, 182);
}

#sven {
  height: auto;
  width: 12rem;
  object-fit: cover;
  border-radius: 25%;
}
@media only screen and (max-width: 360px) {
  .arrow {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .col-2-pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 1rem;
  }
}
